<h2>Users on Github</h2>

<% @users.each do |user|%>
  <div>
    <%= image_tag user["avatar_url"] %>
    <p><%= user["login"]%></p>
    <%= link_to "Details", user_path(user["login"]) %>
  </div>
<% end %>
