<div class="show">
  <img class="single"<%= image_tag @user["avatar_url"]%></br>
  <h3> Login: <%= @user["login"]%></br>
       User ID: <%= @user["id"]%></h3>
  <a class="url"<%= link_to "Github account", @user["html_url"]%></a>
</div>
